<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>
<button><a href="home" >HOME</a></button>
<button><a href="about" title="">ABOUT</a></button>
<button><a href="http://localhost:3000/static_pages/help" title="">HELP</a></button>
